@import "init";
.account-container{
  justify-content: center;
  align-items: center;
  .account-owner{
    font-size: 18px;
    line-height: 20px;
  }
  .account-snapshot{
      position: absolute;
      background-color: $light;
      top: 5%;
      width:22rem;
      z-index: 10;
      display: none;
      @include xl{
        top: 8%;
      }
      @include xxl{
        top: 5%;
      }
  }
  .account-snapshot::after{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 48%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FFFFFF;
  }
}
.account-container:hover .account-snapshot{
    display: block;
    cursor: pointer;
}
.AccountMobile{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #13215b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f3cb00;
    display: block;
    transition: 0.3s;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}