/*@import url('https://fonts.googleapis.com/css?family=Righteous|lucida grande');*/
@import "init";
.Cart{
  font-family: 'lucida grande', sans-serif;
  width: 50%;
  .cart-title{
    font-family: 'lucida grande', sans-serif;
    font-size: 18px;
    color: $primary;
  }
  .cart-content{
    .cart-item{
      .cart-item-content{
        width: 100%;
        .cart-item-content-price{
          color: #13215b;
          width: 100%;
        }
      }
    }
  }
}

.delete-cart-item{
  font-size: 16px;
  font-weight: bolder;
}
.form-control-cart{
  border: 0;
}
.cart-content-subtotal{
  color: #13215b;
}
.cart-summary{
  width: 30%;
  border-radius: 0;
}
.btn-checkout{
  background-color: #13215b;
  border: #13215b;
  color: #f3cb00;
}

@media only screen and (max-width: 900px){
  .Cart{
    width: 80%;
  }
  .cart-summary{
    width: 80%;
    border-radius: 0;
  }
}