@import "init";
.Landing{
  color: $primary;
  @include sm{
  }
  .landing-container{
    width:95%;
    margin: 1% auto 2% auto;
    .trending-product-section{
      margin: 0 0 2% 0;
      .section-title{
        margin: 1%;
      }
      .trending-product-item{
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        .product-item-container{
          background-color: $light;
          @include lg{
            width: 31%;
            height: 350px;
            margin: 1%;
          }
          @include xl{
            width: 22%;
            height: 350px;
            margin: 1%;
          }
          @include xxl{
            width: 14%;
            height: 350px;
            margin: 1%;
          }
        }
      }
      @include sm{
        .section-title{
          margin: 1% 0 1% 0;
         color: $primary;
         font-size: 16px;
        }
        .trending-product-item{
          .product-item-container{
            background-color: $light;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .advert-deals-section{
      margin: 1% 0 2% 0;
      color: $primary;
      .row{
        .advert{
          height: 400px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}