@import "init";
.SearchBar{
  width: 100%;
  .input-group-text{
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
  }
  .input-group-prepend-container{
    background-color: $secondary;
    border-color: $secondary;
  }
  .input-group-text:hover{
    cursor: pointer;
    color: $light;
  }
  @include sm {

  }
}