@import "init";
.shopping-container{
  display: flex;
  text-align: center;
  position: relative;
  .badge{
    background-color: $primary;
    color: $secondary;
    font-size: 18px;
  }
  .shopping-snapshot{
    position: absolute;
    background-color: $light;
    display: none;
    min-width:22rem;
    z-index: 1;
    top: 130%;
    right: 0;
  }
  .shopping-snapshot::after{
    content: " ";
    position: absolute;
    bottom: 100%;

    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FFFFFF;
    @include lg{
      left: 86.5%;
    }
    @include xl{
      left: 84.5%;
    }
  }

}
.shopping-container:hover .shopping-snapshot{
  display: block;
  cursor: pointer;
}
.shopping-cart{
  color:$primary;
  ul{
    li{
      list-style: none;
    }
    .item{
      padding: 2%;
      margin: 1% 0;
      .item-icon{
        width: 30%;
      }
      .item-description{
        width: 70%;
        .item-name{
          display: block;
          text-align: left;
          padding: 0 0 0 1%;
        }
      }
    }
  }
}