@import "init";
.shopping-container{
  display: flex;
  text-align: center;
  position: relative;
  .shopping-snapshot{
    position: absolute;
    background-color: $light;
    display: none;
    min-width:22rem;
    z-index: 1;
    @media only screen and (min-width:992px){
      top: 115%;
      left: -135%;
    }
    @media only screen and (min-width:1200px){
      top: 115%;
      left: -108%;
    }
  }
  .shopping-snapshot::after{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 48%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FFFFFF;
  }

}
.shopping-container:hover .shopping-snapshot{
  display: block;
  cursor: pointer;
}
.shopping-bag{
  color:$primary;
}