@import "init";
.Toppane{
  background-color: $primary;
  color: $secondary;
  padding: 1%;
  justify-content: center;
  .toppane-container{
    position: relative;
    display: flex;
    align-items: center;
    @include sm{
      .logo-container{
        width: 8rem;
        position: absolute;
        top: 15%;
        left:13%;
      }
      .search-container{
        display: none;
      }
      .search-container-mobile{
        position: absolute;
        left: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        top: 15%;
      }
      .search-container-mobile-close{
        position: absolute;
        left: 55%;
        justify-content: center;
        align-items: center;
        width: 2rem;
        top: 15%;
        display: none;
      }
      .shopping-container{
        display: none;
      }
      .shopping-container-mobile{
        position:absolute;
        left:75%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        top: 15%;
      }
      .account-container{
        display: none;
      }
      .account-container-mobile{
        position:absolute;
        left:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        top: 15%;
      }
    }
    @include lg{
      .logo-container {
        width: 15%;
        padding: 0 0.3rem;
        margin: 0 0.2rem;
      }
      .search-container-mobile{
        display: none;
      }
      .shopping-container-mobile{
        display: none;
      }
      .account-container-mobile{
        display: none;
      }
      .search-container-mobile-close{
        display: none;
      }
      .search-container{
        width: 55%;
        padding: 0 0.3rem;
        margin: 0 0.2rem;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .shopping-container{
        width: 8%;
        padding: 0 0.3rem;
        margin: 0 0.2rem;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .account-container{
        width: 17%;
        padding: 0 0.3rem;
        margin: 0 0.2rem;
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
}